{% set embed = embed|default(false) %}
{% set tweet = tweet|default(false) %}
<div class="ui segments">
{% if not tweet %}
    <div class="ui top attached segment">
        <h2 class="ui header"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </div>
{% endif %}
<div class="ui blue segment">
    <div class="content">
        <div class="description">
            {{ page.content }}
        </div>
    </div>
</div>
<div class="ui blue {% if embed %}bottom {% endif %}attached segment">
    <div class="meta">
        <a class="ui mini compact labeled icon button" href="{{ page.url }}">
            <i class="calendar icon"></i>
            {{ page.date|date("Y-m-d") }}
        </a>
        {% if page.taxonomy.tag %}
            {% for tag in page.taxonomy.tag %}
                <a class="ui mini compact labeled icon button"
                   href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">
                    <i class="tag icon"></i>
                    {{ tag }}
                </a>
            {% endfor %}
        {% endif %}
        {% if tweet %}
            <div class="ui mini compact labeled icon button">
                <i class="twitter icon"></i>
                #tweet
            </div>
        {% endif %}
    </div>
</div>
{% if not embed %}
    <div class="ui bottom attached segment" id='discourse-comments'></div>

    <script type="text/javascript">
        DiscourseEmbed = {
            discourseUrl: 'https://discourse.datenknoten.me/',
            discourseEmbedUrl: 'https://datenknoten.me{{ page.url }}'
        };

        (function () {
            var d = document.createElement('script');
            d.type = 'text/javascript';
            d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
    </script>
{% endif %}
</div>